<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^contactanos$ contact.html [NC,L]
   RewriteRule ^inicio$ index.html [NC,L]
   RewriteRule ^acerca-de-nosotros$ about.html [NC,L]
   RewriteRule ^servicios$ services.html [NC,L]
   RewriteRule ^galeria$ projects.html [NC,L]
   RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
